name: CI pipeline for deploy on Ec2

on: 
  push:
    branches: 
      - main
      
jobs:
  Build-and-push-image:
    runs-on: ubuntu-latest
    steps:
        - name: checkout code
          uses: actions/checkout@v6
        - name: Build Docker Image
          run: "docker build -t karthiq18/demo-app:${GITHUB_SHA:0:7} ."
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
        - name: push docker image to docker hub
          run: docker push karthiq18/demo-app:${GITHUB_SHA:0:7}
        - name: Deploy to Ec2
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.EC2_SSH_KEY }}
            script: |
              docker pull karthiq18/demo-app:${GITHUB_SHA:0:7}
              docker stop demo-app || true
              docker rm demo-app || true
              docker run -d -p 80:5000 --name demo-app karthiq18/demo-app:${GITHUB_SHA:0:7}
              
            
